In [1]:
import psycopg2
import pandas as pd
from plotly.offline import init_notebook_mode, iplot
from plotly.offline import plot 
import plotly.graph_objects as go
import warnings
import datetime
warnings.filterwarnings('ignore')

# import q_credentials.db_secmaster_cloud_cred as db_secmaster_cred
import q_credentials.db_secmaster_cred as db_secmaster_cred
import q_credentials.db_indicator_cred as db_indicator_cred

In [2]:
# connect to our securities_master database
conn_secmaster = psycopg2.connect(host=db_secmaster_cred.dbHost , database=db_secmaster_cred.dbName, user=db_secmaster_cred.dbUser, password=db_secmaster_cred.dbPWD)

In [3]:
conn_indicator = psycopg2.connect(host=db_indicator_cred.dbHost , database=db_indicator_cred.dbName, user=db_indicator_cred.dbUser, password=db_indicator_cred.dbPWD)

In [4]:
sql="""SELECT s.ticker, max(d.symbol_id), max(d.date_price)
FROM public.symbol s inner join d_data d on s.id= d.symbol_id
group by s.ticker"""
df_ticker_last_day=pd.read_sql(sql,con=conn_secmaster)

In [5]:
df_ticker_last_day

       ticker max        max
0   BOM500096  74 2020-08-20
1     EUR_USD  24 2020-08-21
2   BOM500257  86 2020-08-20
3   BOM500295  88 2020-08-20
4     USD_CAD   1 2020-08-21
5   BOM500010  71 2020-08-20
6   BOM500104  75 2020-08-20
7     NZD_USD  28 2020-08-21
8   BOM500188  81 2020-08-20
9   BOM500034  72 2020-08-20
10    GBP_JPY  13 2020-08-21
11  BOM500300  89 2020-08-20
12  BOM500087  73 2020-08-20
13    USD_CHF  55 2020-08-21
14  BOM500180  79 2020-08-20
15  BOM500228  83 2020-08-20
16  BOM500209  82 2020-08-20
17  BOM500112  76 2020-08-20
18    USD_JPY  62 2020-08-21
19    EUR_JPY  19 2020-08-21
20  BOM500290  87 2020-08-20
21  BOM500114  77 2020-08-20
22    AUD_USD  26 2020-08-21
23    GBP_USD  11 2020-08-21
24  BOM500312  90 2020-08-20
25  BOM500238  84 2020-08-20
26  BOM500247  85 2020-08-20
27  BOM500124  78 2020-08-20
28  BOM500182  80 2020-08-20

In [6]:
# sql="""select date_price as date, open_price as open, high_price as high, low_price as low , close_price as close,volume from daily_data where stock_id=71"""
# df_stock=pd.read_sql(sql,con=conn_secmaster)

In [77]:
sql="select distinct instrument from symbol" # change it to exchange when you reload oanda
df_exchange=pd.read_sql(sql,con=conn_indicator)
df_exchange
selected_instrument='Forex'

In [120]:
sql="""SELECT max(s.id) as id, s.ticker, s.name, max(d.date_price) as date
FROM symbol s inner join d_data d on s.id= d.symbol_id where s.instrument='{}'
group by s.ticker,s.name""".format(selected_instrument)
df_symbols=pd.read_sql(sql,con=conn_indicator)
df_symbols

   id   ticker     name       date
0  26  AUD_USD  AUD/USD 2020-08-21
1  19  EUR_JPY  EUR/JPY 2020-08-21
2  24  EUR_USD  EUR/USD 2020-08-21
3  13  GBP_JPY  GBP/JPY 2020-08-21
4  11  GBP_USD  GBP/USD 2020-08-21
5  28  NZD_USD  NZD/USD 2020-08-21
6   1  USD_CAD  USD/CAD 2020-08-21
7  55  USD_CHF  USD/CHF 2020-08-21
8  62  USD_JPY  USD/JPY 2020-08-21

In [169]:
sql="select * from indicator"
ind_list=list(pd.read_sql(sql,con=conn_indicator)['name'])
ind_list_id=list(pd.read_sql(sql,con=conn_indicator)['id'])
selected_ind=ind_list_id[1]

In [170]:
interested_date=(datetime.datetime.now().date()-datetime.timedelta(days=3)).strftime("%m-%d-%Y")
sql="select s.ticker, d.value, d.date_price as date from d_data d join symbol s on d.symbol_id=s.id where d.symbol_id in ({}) and d.indicator_id={} and date_price>'{}'".format((','.join(symbol_id)),selected_ind,interested_date)
# ind_list=list(pd.read_sql(sql,con=conn_indicator)['name'])
df_indicator=pd.read_sql(sql,con=conn_indicator)

In [167]:
df_indicator

    ticker                                       value       date
0  GBP_JPY          {'level': 0.0, 'pattern_name': ''} 2020-08-21
1  GBP_USD          {'level': 0.0, 'pattern_name': ''} 2020-08-21
2  NZD_USD  {'level': 4.0, 'pattern_name': 'SPIN_TOP'} 2020-08-21
3  EUR_USD          {'level': 0.0, 'pattern_name': ''} 2020-08-21
4  AUD_USD          {'level': 0.0, 'pattern_name': ''} 2020-08-21
5  EUR_JPY          {'level': 0.0, 'pattern_name': ''} 2020-08-21
6  USD_CAD      {'level': 1.0, 'pattern_name': 'DOJI'} 2020-08-21
7  USD_CHF          {'level': 0.0, 'pattern_name': ''} 2020-08-21
8  USD_JPY      {'level': 1.0, 'pattern_name': 'DOJI'} 2020-08-21

In [168]:
pd.concat([df_indicator.drop(['value'], axis=1), df_indicator['value'].apply(pd.Series)], axis=1)

    ticker       date  level pattern_name
0  GBP_JPY 2020-08-21    0.0
1  GBP_USD 2020-08-21    0.0
2  NZD_USD 2020-08-21    4.0     SPIN_TOP
3  EUR_USD 2020-08-21    0.0
4  AUD_USD 2020-08-21    0.0
5  EUR_JPY 2020-08-21    0.0
6  USD_CAD 2020-08-21    1.0         DOJI
7  USD_CHF 2020-08-21    0.0
8  USD_JPY 2020-08-21    1.0         DOJI

In [57]:
symbol_id='EUR_USD'#'AAPL'#'BOM500114'
start_date=datetime.datetime(2018,1,1).strftime("%Y-%m-%d")
indicator_name = 'candle_1'

In [10]:
sql="select d.date_price as date, open_price as open, high_price as high, low_price as low , close_price as close,volume from d_data d join symbol s on d.symbol_id = s.id where s.ticker='%s' and d.date_price > '%s'" %(symbol_id, start_date)
df_price=pd.read_sql(sql,con=conn_secmaster)

In [11]:
sql="select d.date_price as date, d.value from d_data d join symbol s on d.symbol_id = s.id join indicator i on i.id=d.indicator_id where s.ticker='%s' and i.name = '%s' and d.date_price > '%s'" %(symbol_id, indicator_name, start_date)
df_indicator=pd.read_sql(sql,con=conn_indicator)

In [12]:
df_indicator.set_index('date',inplace=True)

In [13]:
df_indicator.head()

                                         value
date
2018-01-02  {'level': 0.0, 'pattern_name': ''}
2018-01-03  {'level': 0.0, 'pattern_name': ''}
2018-01-04  {'level': 0.0, 'pattern_name': ''}
2018-01-05  {'level': 0.0, 'pattern_name': ''}
2018-01-08  {'level': 0.0, 'pattern_name': ''}

In [14]:
df_all_ind=pd.DataFrame()
for ind in ind_list:
    print(ind)
    sql="select d.date_price as date, d.value from d_data d join symbol s on d.symbol_id = s.id join indicator i on i.id=d.indicator_id where s.ticker='%s' and i.name = '%s' and d.date_price > '%s'" %(symbol_id, ind, start_date)
    df_indicator=pd.read_sql(sql,con=conn_indicator)
    df_indicator.set_index('date',inplace=True)
    df_indicator=pd.concat([df_indicator.drop(['value'], axis=1), df_indicator['value'].apply(pd.Series)], axis=1)
    df_indicator.columns=[ind+"_"+col for col in df_indicator.columns]
    if df_all_ind.empty:
        df_all_ind=pd.merge(left=df_price, right=df_indicator,on='date')
    else:
        df_all_ind=pd.merge(left=df_all_ind, right=df_indicator,on='date')

candle_1
candle_2
candle_3
anomaly
level

In [15]:
df_all_ind.head()

,date,open,high,low,close,volume,candle_1_level,candle_1_pattern_name,candle_2_level,candle_2_pattern_name,...,anomaly_wick_bull_signal,level_level,level_nearest_resistance_atr_range,level_nearest_resistance_duration,level_nearest_resistance_range,level_nearest_support_atr_range,level_nearest_support_duration,level_nearest_support_range,level_resistance,level_support
0,2018-01-02,1.20071,1.20812,1.20019,1.20580,35630,0.0,,0.0,,...,0.173574,1.0,0.328864,126,"[1.20928, 1.19774]",1.800136,36,"[1.19041, 1.19612]","[[1.20928, 1.19774, 2017-08-29 00:00:00, True]...","[[1.19041, 1.19612, 2017-11-27 00:00:00, False..."
1,2018-01-03,1.20590,1.20666,1.20010,1.20144,31354,0.0,,0.0,,...,0.000000,1.0,0.300754,127,"[1.20928, 1.19774]",1.187762,37,"[1.19041, 1.19612]","[[1.20928, 1.19774, 2017-08-29 00:00:00, True]...","[[1.19041, 1.19612, 2017-11-27 00:00:00, False..."
2,2018-01-04,1.20144,1.20890,1.20042,1.20683,35187,0.0,,1.0,BULLISH ENGULFING,...,0.141893,1.0,0.460973,128,"[1.20928, 1.19774]",1.883464,38,"[1.19041, 1.19612]","[[1.20928, 1.19774, 2017-08-29 00:00:00, True]...","[[1.19041, 1.19612, 2017-11-27 00:00:00, False..."
3,2018-01-05,1.20664,1.20834,1.20208,1.20297,36478,0.0,,-3.0,BEARISH HARAMI,...,0.000000,1.0,0.076992,129,"[1.20928, 1.19774]",1.383716,39,"[1.19041, 1.19612]","[[1.20928, 1.19774, 2017-08-29 00:00:00, True]...","[[1.19041, 1.19612, 2017-11-27 00:00:00, False..."
4,2018-01-08,1.20271,1.20522,1.19558,1.19687,27618,0.0,,0.0,,...,0.305409,0.0,1.458420,4,"[1.2089, 1.20683]",0.478182,42,"[1.19041, 1.19612]","[[1.2089, 1.20683, 2018-01-04 00:00:00, True],...","[[1.19041, 1.19612, 2017-11-27 00:00:00, False..."

In [16]:
pd.options.display.max_columns = None

In [17]:
def level_plot(df):
    support_ls = [[ls[0],ls[1],datetime.datetime.strptime(ls[2],'%Y-%m-%d %H:%M:%S'),ls[3]] for ls in df.iloc[-1]['level_support']]
    resistance_ls = [[ls[0],ls[1],datetime.datetime.strptime(ls[2],'%Y-%m-%d %H:%M:%S'),ls[3]] for ls in df.iloc[-1]['level_resistance']]
    end_dt=df.index[-1]
    res_plot_ls=[]
    sup_plot_ls=[]
    for res in resistance_ls[:5]:
        res_plot_ls.append(dict(x0=res[2],x1=end_dt,y0=res[0],y1=res[1],yref='y1',opacity=.2,fillcolor='Red',line=dict(color="black",width=1)))
    for sup in support_ls[:5]:
        sup_plot_ls.append(dict(x0=sup[2],x1=end_dt,y0=sup[0],y1=sup[1],yref='y1',opacity=.2,fillcolor='green',line=dict(color="black",width=1)))
    return (res_plot_ls+sup_plot_ls)

In [18]:
# df.columns

In [19]:
# candle1_plot_ls=[]
# for i,row in df.tail(10).iterrows():
#     if(row['candle_1_pattern_name']):
# #         print(row['candle_1_pattern_name'])
#         print(pd.to_datetime(i), (i+datetime.timedelta(days=1)))
#         candle1_plot_ls.append(dict(x0=i,x1=(i+datetime.timedelta(days=2)),y0=row['high'],y1=row['low'],yref='y1',opacity=.2,fillcolor='blue',line=dict(color="black",width=1)))

In [20]:
df=df_all_ind.set_index('date')
interested_feature='anomaly_vol_anomaly'

In [21]:
df_candle_1=df[-10:]
df_candle_1=df_candle_1[df_candle_1['candle_1_pattern_name']!='']
df_candle_1['pattern']='1'

df_candle_2=df[-10:]
df_candle_2=df_candle_2[df_candle_2['candle_2_pattern_name']!='']
df_candle_2['pattern']='2'

df_candle_3=df[-10:]
df_candle_3=df_candle_3[df_candle_3['candle_3_pattern_name']!='']
df_candle_3['pattern']='3'

In [22]:
# Plotting
data = [ dict(
    type = 'candlestick',
    open = df.open,
    high = df.high,
    low = df.low,
    close = df.close,
    x = df.index,
    yaxis = 'y1',
    name = 'price'
)]


data.append( dict( x=df.index, y=df.volume,                         
                         marker=dict( color='blue' ),
                         type='bar', yaxis='y2', name='Volume'))

data.append( dict( x=df.index, y=df[interested_feature],                         
                         marker=dict( color='red' ),
                         type='scatter', yaxis='y3', name=interested_feature))

data.append( dict( x=df_candle_1.index, y=df_candle_1['high'],
                         text=df_candle_1['pattern'],
                         mode="markers+text",textfont_size=15,textposition="top center",
                         marker=dict( color='blue' ),
                         type='scatter', yaxis='y1', name='candle_patter_1'))

data.append( dict( x=df_candle_2.index, y=df_candle_2['high'],
                         text=df_candle_2['pattern'],
                         mode="markers+text",textfont_size=15,textposition="top center",
                         marker=dict( color='red' ),
                         type='scatter', yaxis='y1', name='candle_patter_2'))


data.append( dict( x=df_candle_3.index, y=df_candle_3['high'],
                         text=df_candle_3['pattern'],
                         mode="markers+text",textfont_size=15,textposition="top center",
                         marker=dict( color='red' ),
                         type='scatter', yaxis='y1', name='candle_patter_3'))


layout=dict()    
layout['xaxis'] = dict( rangeslider = dict( visible = False ),autorange=True,fixedrange=False,visible=False,type='category')#type='category',
layout['yaxis'] = dict( domain = [0.2, 1],autorange = True,fixedrange=False)
layout['yaxis2'] = dict( domain = [0.0, 0.1],autorange = True,fixedrange=False)
layout['yaxis3'] = dict( domain = [0.1, 0.2],autorange = True,fixedrange=False)
# layout['shapes'] = [dict(x0=start_dt, x1=end_dt, y0=3057.9, y1=3060.85, yref='y1',opacity=.2,line=dict(color="Red",width=1))]#fillcolor='green',line_width=2
layout['shapes'] = level_plot(df)
# layout['shapes'] = candle1_plot_ls

# df.to_csv("stock_price_indicator.csv",index=True)

fig = dict( data=data, layout=layout )

In [23]:
figure=go.FigureWidget(data=data, layout=layout)

In [24]:
def zoom(layout, x_range):
    print(x_range)
    in_view = df.iloc[int(figure.layout.xaxis.range[0]):int(figure.layout.xaxis.range[1])]
    figure.layout.yaxis2.range = [in_view.volume.min(), in_view.volume.max()]
    figure.layout.yaxis3.range = [in_view[interested_feature].min(), in_view[interested_feature].max()]

In [25]:
figure.layout.on_change(zoom, 'xaxis.range')

In [26]:
figure.update_layout(margin=dict(l=20, r=10),paper_bgcolor="LightSteelBlue",width=2200, height=1000)

FigureWidget({
    'data': [{'close': array([1.2058 , 1.20144, 1.20683, ..., 1.17847, 1.18142, 1.18426]),
    …