In [123]:
import psycopg2
import pandas as pd
from plotly.offline import init_notebook_mode, iplot
from plotly.offline import plot 
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')
import datetime

import q_credentials.db_secmaster_cred as db_secmaster_cred
import q_credentials.db_indicator_cred as db_indicator_cred

In [124]:
# connect to our securities_master database
conn_secmaster = psycopg2.connect(host=db_secmaster_cred.dbHost , database=db_secmaster_cred.dbName, user=db_secmaster_cred.dbUser, password=db_secmaster_cred.dbPWD)
conn_indicator = psycopg2.connect(host=db_indicator_cred.dbHost , database=db_indicator_cred.dbName, user=db_indicator_cred.dbUser, password=db_indicator_cred.dbPWD)

In [125]:
sql="""SELECT s.ticker, max(d.symbol_id), max(d.date_price)
FROM public.symbol s inner join daily_data d on s.id= d.symbol_id
group by s.ticker"""
df_ticker_last_day=pd.read_sql(sql,con=conn_indicator)

In [126]:
df_ticker_last_day

      ticker   max        max
0  BOM500087  9468 2019-04-30
1  BOM500010  9466 2019-04-30
2  BOM500034  9467 2019-04-30

In [127]:
sql="""select date_price as date, open_price as open, high_price as high, low_price as low , close_price as close,volume from daily_data where stock_id=71"""
df_stock=pd.read_sql(sql,con=conn_secmaster)

In [128]:
import datetime

In [129]:
sql="select * from indicator"
ind_list=list(pd.read_sql(sql,con=conn_indicator)['name'])
ind_list

['candle_1', 'candle_2', 'candle_3', 'level', 'anomaly']

In [130]:
symbol_id='BOM500034'
start_date=datetime.datetime(2019,4,30).strftime("%Y-%m-%d")

In [131]:
sql="select s.ticker, s.name, d.date_price as date, open_price as open, high_price as high, low_price as low , close_price as close,volume from daily_data d join symbol s on d.stock_id = s.id where d.date_price = '%s'" %(start_date)
df_price=pd.read_sql(sql,con=conn_secmaster)

In [132]:
sql="select s.ticker, s.name, d.date_price as date, d.value from daily_data d join symbol s on d.symbol_id = s.id join indicator i on i.id=d.indicator_id where i.name = '%s' and d.date_price = '%s'" %(indicator_name, start_date)
df_indicator=pd.read_sql(sql,con=conn_indicator)

In [135]:
df_all_ind=pd.DataFrame()
for ind in ind_list:
    print(ind)
    sql="select s.ticker, d.date_price as date, d.value from daily_data d join symbol s on d.symbol_id = s.id join indicator i on i.id=d.indicator_id where i.name = '%s' and d.date_price >= '%s'" %(ind, start_date)
    df_indicator=pd.read_sql(sql,con=conn_indicator)
    df_indicator=pd.concat([df_indicator.drop(['value'], axis=1), df_indicator['value'].apply(pd.Series)], axis=1)
    interested_columns=list(set(df_indicator.columns)-set(['date','ticker','name']))
    new_column=[ind+"_"+col for col in interested_columns]
    df_indicator.rename(columns=dict(zip(interested_columns,new_column)),inplace=True)
    if df_all_ind.empty:
        df_all_ind=pd.merge(left=df_price, right=df_indicator,left_on=['date','ticker'],right_on=['date','ticker'])
    else:
        df_all_ind=pd.merge(left=df_all_ind, right=df_indicator,left_on=['date','ticker'],right_on=['date','ticker'])

candle_1
candle_2
candle_3
level
anomaly

In [136]:
df_all_ind.columns

Index(['ticker', 'name', 'date', 'open', 'high', 'low', 'close', 'volume',
       'candle_1_level', 'candle_1_pattern_name', 'candle_2_level',
       'candle_2_pattern_name', 'candle_3_level', 'candle_3_pattern_name',
       'level_level', 'level_nearest_resistance_atr_range',
       'level_nearest_resistance_duration', 'level_nearest_resistance_range',
       'level_nearest_support_atr_range', 'level_nearest_support_duration',
       'level_nearest_support_range', 'level_resistance', 'level_support',
       'anomaly_bear', 'anomaly_body_size', 'anomaly_body_size_dev',
       'anomaly_body_size_ema', 'anomaly_bull', 'anomaly_gap',
       'anomaly_gap_dev', 'anomaly_gap_ema', 'anomaly_gap_signal',
       'anomaly_vol_anomaly', 'anomaly_vol_anomaly_2', 'anomaly_vol_dev',
       'anomaly_vol_ema', 'anomaly_wick_bear', 'anomaly_wick_bear_dev',
       'anomaly_wick_bear_ema', 'anomaly_wick_bear_signal',
       'anomaly_wick_bull', 'anomaly_wick_bull_dev', 'anomaly_wick_bull_ema',
       'anomaly_wick_bull_signal'],
      dtype='object')

In [137]:
pd.options.display.max_columns = None

In [138]:
df_all_ind[['ticker','name','candle_1_pattern_name','candle_2_pattern_name','anomaly_vol_anomaly','level_nearest_resistance_duration','level_nearest_support_duration']]

,ticker,name,candle_1_pattern_name,candle_2_pattern_name,anomaly_vol_anomaly,level_nearest_resistance_duration,level_nearest_support_duration
0,BOM500010,HOUSING DEVELOPMENT FINANCE CORP.LTD.,,,0.150522,12,7
1,BOM500034,Bajaj Finance Limited,DOJI_SPINOFF,,0.366491,5,18
2,BOM500087,CIPLA LTD.,,,0.047670,14,5