In [1]:
import psycopg2
import pandas as pd
from plotly.offline import init_notebook_mode, iplot
from plotly.offline import plot 
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')
import datetime

import q_credentials.db_secmaster_cred as db_secmaster_cred
import q_credentials.db_indicator_cred as db_indicator_cred

In [2]:
# connect to our securities_master database
conn_secmaster = psycopg2.connect(host=db_secmaster_cred.dbHost , database=db_secmaster_cred.dbName, user=db_secmaster_cred.dbUser, password=db_secmaster_cred.dbPWD)
conn_indicator = psycopg2.connect(host=db_indicator_cred.dbHost , database=db_indicator_cred.dbName, user=db_indicator_cred.dbUser, password=db_indicator_cred.dbPWD)

In [7]:
sql="""select a.date_price date, a.open_price open, a.high_price high, a.low_price low, a.close_price as close, a.volume 
from d_data a inner join symbol b on a.symbol_id = b.id where b.ticker='EUR_USD' order by date desc"""
df=pd.read_sql(sql,con=conn_secmaster)

In [68]:
test=['EUR_USD','USD_JPY']

In [99]:
str(datetime.datetime.now().date())

'2020-09-06'

In [95]:
sql="""SELECT max(s.id) as id, s.ticker, s.name, max(d.date_price) as date
    FROM symbol s inner join {}_data d on s.id= d.symbol_id where s.instrument='{}'
    group by s.ticker,s.name""".format('w','us_equity')
df_symbols=pd.read_sql(sql,con=conn_indicator)

In [96]:
df_symbols

   id ticker                                               name       date
0  71     FB                Facebook, Inc. Class A Common Stock 2020-09-04
1  72    LKQ                       LKQ Corporation Common Stock 2020-09-04
2  73   MDLZ  Mondelez International, Inc. Class A Common Stock 2020-09-04
3  74   MNST                       Monster Beverage Corporation 2020-09-04
4  75   NAVI                   Navient Corporation Common Stock 2020-09-04
5  76   TRIP                     TripAdvisor, Inc. Common Stock 2020-09-04

In [81]:
df_symbols.to_csv('test.csv')

In [70]:
sql="""select ticker, instrument, name, currency,created_date from symbol where ticker in ({})""".format(str(test)[1:-1])
df_symbols=pd.read_sql(sql,con=conn_indicator)

In [67]:
df_symbols

    ticker instrument     name currency               created_date
0  EUR_USD      Forex  EUR/USD     None 2020-07-05 18:03:27.106059
1  USD_JPY      Forex  USD/JPY     None 2020-07-05 18:03:27.106059

In [25]:
%%time
!python q_pack/q_run/run_BT.py --fromdate='2016-1-1' --timeframe='w' --load_symbol='True' --strat_param "use_level=yes,use_db=yes,ml_serving=no"

{'fromdate': datetime.datetime(2016, 1, 1, 0, 0)}
no indicator data for AUD_USD
no indicator data for EUR_JPY
no indicator data for EUR_USD
no indicator data for GBP_JPY
no indicator data for GBP_USD
no indicator data for NZD_USD
no indicator data for USD_CAD
no indicator data for USD_CHF
no indicator data for USD_JPY
SYMBOLS= ['AUD_USD', 'EUR_JPY', 'EUR_USD', 'GBP_JPY', 'GBP_USD', 'NZD_USD', 'USD_CAD', 'USD_CHF', 'USD_JPY']
Strategy run finished with Run ID: None
Profit ... or Loss: 0.00
CPU times: user 424 ms, sys: 136 ms, total: 560 ms
Wall time: 17.8 s

In [93]:
%%time
!python q_pack/q_run/run_BT.py --fromdate='2016-1-1' --timeframe='w' --load_symbol='True' --universe='US Equity' --strat_param "use_level=yes,use_db=yes,ml_serving=no"

{'fromdate': datetime.datetime(2016, 1, 1, 0, 0)}
no indicator data for NAVI
no indicator data for MSFT
no indicator data for MDLZ
no indicator data for LKQ
no indicator data for FB
no indicator data for MNST
no indicator data for TRIP
Strategy run finished with Run ID: None
w_data 1 75 NAVI
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 75
w_data 2 75 NAVI
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 75
w_data 3 75 NAVI
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 75
w_data 4 75 NAVI
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 75
w_data 5 75 NAVI
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 75
w_data 1 77 MSFT
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 77
w_data 2 77 MSFT
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 77
w_data 3 77 MSFT
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 77
w_data 4 77 MSFT
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 77
w_data 5 77 MSFT
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 77
w_data 1 73 MDLZ
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 73
w_data 2 73 MDLZ
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 73
w_data 3 73 MDLZ
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 73
w_data 4 73 MDLZ
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 73
w_data 5 73 MDLZ
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 73
w_data 1 72 LKQ
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 72
w_data 2 72 LKQ
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 72
w_data 3 72 LKQ
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 72
w_data 4 72 LKQ
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 72
w_data 5 72 LKQ
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 72
w_data 1 71 FB
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 71
w_data 2 71 FB
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 71
w_data 3 71 FB
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 71
w_data 4 71 FB
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 71
w_data 5 71 FB
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 71
w_data 1 74 MNST
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 74
w_data 2 74 MNST
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 74
w_data 3 74 MNST
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 74
w_data 4 74 MNST
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 74
w_data 5 74 MNST
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 74
w_data 1 76 TRIP
SELECT max(date_price) FROM w_data WHERE indicator_id = 1 and symbol_id = 76
w_data 2 76 TRIP
SELECT max(date_price) FROM w_data WHERE indicator_id = 2 and symbol_id = 76
w_data 3 76 TRIP
SELECT max(date_price) FROM w_data WHERE indicator_id = 3 and symbol_id = 76
w_data 4 76 TRIP
SELECT max(date_price) FROM w_data WHERE indicator_id = 4 and symbol_id = 76
w_data 5 76 TRIP
SELECT max(date_price) FROM w_data WHERE indicator_id = 5 and symbol_id = 76
Profit ... or Loss: 0.00
CPU times: user 399 ms, sys: 153 ms, total: 552 ms
Wall time: 16.9 s