In [1]:
!python db_part_one_schema_builder.py

Database does not exist.
Creating new database.
Database exists.
Building tables.
Building tables.
Building tables.
Building tables.
Building tables.

In [2]:
!python db_part_two_forex_symbol_loader.py

70 symbols were successfully added.
Adding new Vendor  Oanda

In [57]:
!python db_part_three_retrieve_prices.py

0:00:00.000006
Currently loading EUR_USD
EUR_USD complete!
Currently loading USD_JPY
USD_JPY complete!
Currently loading GBP_USD
GBP_USD complete!
0:00:05.885257

In [35]:
import pandas as pd
from sqlalchemy import create_engine,text
import os
import psycopg2

In [29]:
def load_db_credential_info(f_name_path):
    """
    load text file holding our database credential info and the database name
    args:
        f_name_path: name of file preceded with "\\", type string
    returns:
        array of 4 values that should match text file info
    """
    cur_path = os.getcwd()
    # lets load our database credentials and info
    f = open(cur_path + f_name_path, 'r')
    lines = f.readlines()[1:]
    lines = lines[0].split(',')
    return lines

In [44]:
con = create_engine("postgres://postgres:secret@postgres_secmaster")
# con.table_names()

In [47]:
db_info_file = "database_info.txt"
db_info_file_p = "/" + db_info_file
# necessary database info to connect
db_host, db_user, db_password, db_name = load_db_credential_info(db_info_file_p)

# connect to our securities_master database
conn = psycopg2.connect(host=db_host, database=db_name, user=db_user, password=db_password)

In [48]:
vendor_name="Oanda"
cur = conn.cursor()
cur.execute("SELECT id FROM data_vendor WHERE name = %s", (vendor_name,))
# will return a list of tuples
vendor_id = cur.fetchall()
# index to our first tuple and our first value
vendor_id = vendor_id[0][0]
vendor_id

1

In [27]:
sql = text("""REVOKE CONNECT ON DATABASE securities_master FROM public;
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = 'securities_master';""")
con.execute(sql)

In [53]:
sql = text("""SELECT 
   *
FROM
   pg_catalog.pg_tables
WHERE
   schemaname != 'pg_catalog'
AND schemaname != 'information_schema';""")
result = con.execute(sql)

In [42]:
# pd.read_sql_query(sql,con=con)

In [51]:
sql = text("""SELECT datname FROM pg_database
WHERE datistemplate = false;""")
pd.read_sql_query(sql,con=con)

             datname
0           postgres
1             shared
2  securities_master

In [35]:
con.table_names()

['exchange', 'data_vendor', 'symbol', 'daily_data']