In [5]:
import pandas as pd
%matplotlib inline

import boto3
from io import StringIO

In [13]:
# df=pd.read_csv("ml_log.csv",parse_dates=True)#infer_datetime_format=True) ,index_col=['time','ticker']

In [52]:
s3 = boto3.client('s3',endpoint_url="http://minio-image:9000",aws_access_key_id="minio-image",aws_secret_access_key="minio-image-pass")
Bucket="model-support-files"
Key="16_ml_log.csv"
read_file = s3.get_object(Bucket=Bucket, Key=Key)
df = pd.read_csv(read_file['Body'],sep=',',index_col=['datetime'],parse_dates=True)

In [53]:
df.head()

,security,close,MovingAverageSimple_0,MovingAverageSimple_1,MovingAverageSimple_2
datetime,,,,,
2019-01-01 22:00:00,EUR_USD,1.13250,NaN,NaN,NaN
2019-01-02 22:00:00,EUR_USD,1.13091,NaN,NaN,NaN
2019-01-03 22:00:00,EUR_USD,1.13458,NaN,NaN,NaN
2019-01-06 22:00:00,EUR_USD,1.13972,NaN,NaN,NaN
2019-01-07 22:00:00,EUR_USD,1.14219,NaN,NaN,NaN

In [54]:
# df['datetime']=pd.to_datetime(df['datetime'])
df['fwd_returns']=df.groupby("security")["close"].pct_change(1)

In [55]:
df.sort_values(by='datetime',inplace=True)

In [57]:
df=df.reset_index().drop(columns=['datetime','security','close'])

In [58]:
df.head(100)

,MovingAverageSimple_0,MovingAverageSimple_1,MovingAverageSimple_2,fwd_returns
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,-0.000566
3,NaN,NaN,NaN,-0.001404
4,NaN,NaN,NaN,0.003245
...,...,...,...,...
95,1.129951,1.128955,NaN,0.000805
96,1.308540,1.305440,1.294621,0.011224
97,1.128883,1.128726,NaN,0.003254
98,1.308853,1.307532,1.295796,-0.000326
99,1.127882,1.128664,1.133829,0.002085

In [59]:
df.dropna().to_csv(("processed_"+Key),index=False)

### Old Format

In [2]:
# df=pd.read_csv("ml_log.csv",index_col=['time','ticker'],parse_dates=True)
df=pd.read_csv("ml_log.csv",index_col=['time'],parse_dates=True)

In [3]:
df.head()

                      ticker    close      sma1      sma2
time
2019-01-28 22:00:00  EUR_USD  1.14113  1.135365  1.137738
2019-01-28 22:00:00  GBP_USD  1.30556  1.294032  1.280558
2019-01-29 22:00:00  EUR_USD  1.14063  1.135649  1.138145
2019-01-29 22:00:00  GBP_USD  1.30543  1.296327  1.282924
2019-01-30 22:00:00  EUR_USD  1.14360  1.136307  1.138780

In [16]:
df['fwd_returns']=df.groupby("ticker")["close"].pct_change(1)

In [17]:
df=df.reset_index().drop(columns=['time','ticker','close'])

In [18]:
df.dropna().to_csv("ml_log_processed.csv",index=False)

In [19]:
df.head()

       sma1      sma2  fwd_returns
0  1.135365  1.137738          NaN
1  1.294032  1.280558          NaN
2  1.135649  1.138145    -0.000438
3  1.296327  1.282924    -0.000100
4  1.136307  1.138780     0.002604

## QGRID

In [51]:
# ! pip install qgrid

# ! jupyter nbextension enable --py --sys-prefix qgrid
# ! jupyter nbextension enable --py --sys-prefix widgetsnbextension

# import qgrid
# qgrid_widget=qgrid.show_grid(df,show_toolbar=True)
# qgrid_widget