In [12]:
import pandas as pd
%matplotlib inline

In [13]:
# df=pd.read_csv("ml_log.csv",parse_dates=True)#infer_datetime_format=True) ,index_col=['time','ticker']

In [14]:
# df=pd.read_csv("ml_log.csv",index_col=['time','ticker'],parse_dates=True)
df=pd.read_csv("ml_log.csv",index_col=['time'],parse_dates=True)

In [15]:
df.head()

                      ticker    close      sma1      sma2
time
2019-01-28 22:00:00  EUR_USD  1.14113  1.135365  1.137738
2019-01-28 22:00:00  GBP_USD  1.30556  1.294032  1.280558
2019-01-29 22:00:00  EUR_USD  1.14063  1.135649  1.138145
2019-01-29 22:00:00  GBP_USD  1.30543  1.296327  1.282924
2019-01-30 22:00:00  EUR_USD  1.14360  1.136307  1.138780

In [16]:
df['fwd_returns']=df.groupby("ticker")["close"].pct_change(1)

In [17]:
df=df.reset_index().drop(columns=['time','ticker','close'])

In [18]:
df.dropna().to_csv("ml_log_processed.csv",index=False)

In [19]:
df.head()

       sma1      sma2  fwd_returns
0  1.135365  1.137738          NaN
1  1.294032  1.280558          NaN
2  1.135649  1.138145    -0.000438
3  1.296327  1.282924    -0.000100
4  1.136307  1.138780     0.002604